@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
{
  font-family: Cormorant Garamond;
}

select,input,textarea{
  border: 1px solid #c2c2c2;
  outline-color: #C586A5;
  border-radius: 4px;
}

.active{
  background-color: #ffebf5;
  border-color: #C586A5;
}
